@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    color: #FFFFFF;
    background-color: #1B1924;
    font-family: 'Josefin Sans';
}
.container{
    background-color: #1B1924;
    height: 200vh;
    min-width: 370px;
}
.nav-image{
    display: flex;
    height: 90px;
    width: 90px;
    margin: 0 auto;
    padding-top: 51px;
}
main{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    gap: 10px;
}
#endorsement-text{
    width: 317px;
    height: 118px;
    background-color: #444059;
    color: #8F8F8F;
    margin: 0 auto;
    padding: 10px; 
    text-align: center; 
    resize: none; 
    border-radius: 5px;
}

ul li{
    list-style: none;
    border: 1px solid black;
    margin-bottom: 10px;
    padding: 0 20px;
    background: #FFFFFF;
    color: black;
    text-align: left;
}
#publish-btn{
    padding: 10px;
    width: 317px;
    margin: 0 auto;
    font-family: sans-serif;
    font-size: 900;
    font-weight: bold;
    background-color: #28A9F1;
    border-radius: 5px;
    color: white;
}
#publish-btn:hover{
    background-color: blue;
}
.endorsement-list{
    padding-top: 15px;
    padding-bottom: 15px;
  
}
@media screen and (min-width: 768px) {
    
    .endorsement-list{
        margin: 0 50px;
        
        
    }
    ul li{
        list-style: none;
        border: 1px solid black;
        margin-bottom: 10px;
        padding: 0 20px;
        background: #FFFFFF;
        color: black;
        text-align: left;
    }
}